@charset "UTF-8";
/* variable */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Roboto", "M+ 1m", sans-serif;
  overflow-x: hidden;
  width: 100%;
  /* Menuボタン開閉 */
}
body.is-open {
  position: fixed;
  overflow: hidden;
}
body.is-open::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #707070;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

cite {
  font-style: normal;
}

/*----------------------------------------------------------
◆SmartPhone  : 320px〜540px
	iPhone 12mini   : 5.4インチ、375 × 667
	iPhone 12ProMax : 6.7インチ、428 × 926
	※最小幅は320px（iPadminiのsplit viewもこの値）
	※利用率が高いのは375pxだが320pxで表示崩れ（横スクロールなど）がないか確認することが確実。

	max-width : 599px
	min-width : 設定なし（実質599px以下）

	ここでの変数、breakpoint-small

◆Tablet      : 600px〜1024px
	iPadAir 4 : 10.9インチ、820 × 1180
	タブレットの最小サイズは  600px
	最もシェア率の高いサイズが  768 × 1024。つまり横にすると幅は1024px

	max-width : 1024px
	min-width : 600px

	ここでの変数、breakpoint-medium

◆PC          : 1280px〜
	PCのブレイクポイントはタブレット1024pxにプラス1px加えた1025px。
	PCのブレイクポイントは1280px以下で設定が無難。

	max-width : 設定なし（実質1025px以上）
	min-width : 1025px

	ここでの変数、breakpoint-large


モバイルファーストなら、min-width
PCファーストなら、max-width

参照URL
https://daib-log.com/responsive/
2021.05
----------------------------------------------------------*/
/* モバイルファースト */
/* gridでheader、main（first-view、place、access）、sidebarのレイアウト指定 */
.l-container {
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .l-container {
    display: grid;
    grid-template-columns: 1fr 19%;
    grid-template-rows: 20vh auto;
    grid-template-rows: minmax(150px, 20vh) auto;
  }
  .l-container .l-header {
    grid-row: 1;
    grid-column: 1;
  }
  .l-container .p-main {
    grid-row: 2;
    grid-column: 1;
  }
  .l-container .l-sidebar {
    grid-row: 1/3;
    grid-column: 2;
  }
}

/* ヘッダー全般 */
.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
  color: #707070;
  display: flex; /* 親要素に指定 */
  flex-direction: column; /* 積み重なるように配置する */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* タイトル */
  /* メニューボタン */
}
@media (min-width: 1025px) {
  .l-header {
    flex-direction: row;
    height: 20vh;
    min-height: 150px;
  }
}
.l-header h1 {
  font-weight: 700;
  margin: 0 auto;
  font-size: 4rem;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .l-header h1 {
    margin: auto;
    margin-left: 4%;
    font-size: 6.4rem;
  }
}
.l-header .c-button--menu {
  margin: 0 16px 0 auto;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .l-header .c-button--menu {
    margin-right: 26px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1025px) {
  .l-header .c-button--menu {
    display: none;
  }
}

.p-main {
  background-color: #FFFDFA;
}

/* メニュー */
.l-sidebar {
  /* 画面外に配置 */
  position: fixed;
  top: 0%;
  left: 100%;
  background-color: #F2EDE9;
  height: 100%;
  padding-left: 46px;
  /* メニューボタン押下 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* _button.scssへ移動 */
}
.l-sidebar.is-open {
  left: 13%;
  width: 87%;
  /* 幅の変更 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  overflow-y: scroll;
}
@media (min-width: 834px) {
  .l-sidebar.is-open {
    left: 56%;
    width: 44%;
  }
}
@media (min-width: 1025px) {
  .l-sidebar {
    display: block;
    position: static;
    width: 100%;
    padding-top: 82px;
  }
}
.l-sidebar .c-button--close {
  margin: 0 0 0 auto;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .l-sidebar .c-button--close {
    display: none;
  }
}

/* display: flexを使った方法 */
.l-footer {
  width: 100%;
  height: 150px;
  background-image: url(../img/front/footer.png);
  background-repeat: repeat;
  color: #fff;
  font-family: "M+ 1m";
  display: flex; /* 親要素に指定 */
  flex-direction: column; /* 行の配置 */
  align-items: center; /* 垂直方向の指定 */
}
.l-footer ul {
  display: flex; /* 親要素に指定 */
  flex-direction: row; /*  */
  margin-top: 39px;
  font-size: 2rem;
}
.l-footer ul li {
  margin-right: 10px;
}
.l-footer ul li + li {
  border-left: 2px solid #fff;
  padding-left: 10px;
}
.l-footer ul a {
  color: #fff;
}
.l-footer p {
  font-size: 1.4rem;
  margin-top: 29px;
}

.c-button, .c-button--close, .c-button--menu {
  cursor: pointer;
  /* メニューボタン */
  /* 閉じるボタン*/
}
.c-button--menu {
  font-size: 20px;
  font-weight: 700;
  padding: 14px 0px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .c-button--menu {
    font-size: 3.4rem;
  }
}
.c-button--close {
  display: block;
  position: relative;
  width: 66px;
  height: 66px;
}
.c-button--close::before, .c-button--close::after {
  content: "";
  display: block;
  width: 44.8px;
  height: 6px;
  background-color: #707070;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top: calc(25% - 3px);
  left: 25%;
}
.c-button--close::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
  left: auto;
  right: 25%;
}

.c-button__more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 44px;
  font-family: "M+ 1m";
  background: #fff;
  color: #707070;
  border: none;
  border-radius: 2.35em; /* 角丸 */
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .c-button__more {
    width: 100%;
    max-width: 292px;
    height: 76px;
  }
}

.more-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 44px;
  font-family: "M+ 1m";
  background: #fff;
  color: #707070;
  border: none;
  border-radius: 2.35em; /* 角丸 */
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .more-link {
    width: 100%;
    max-width: 292px;
    height: 76px;
  }
}

.c-box {
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0;
  padding: 20px 10px;
}

.c-box__title {
  margin-bottom: 0.4em;
  font-size: 2.2rem;
  font-weight: 700;
}

/* p-placeに使用 */
.c-dl--level1 {
  color: #3C2A10;
}
.c-dl--level1 dd {
  margin-top: 15px;
  line-height: 2.5rem;
  font-family: "M+ 1m";
}

/* p-accessに使用 */
.c-dl--level2 {
  padding: 40px;
  color: #fff;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .c-dl--level2 {
    padding-top: 66px;
    padding-left: 95px;
    padding-right: 107px;
  }
}
.c-dl--level2 dd {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  font-family: "M+ 1m";
}

/* p-archiveに使用 */
.c-dl--level3 {
  width: 100%;
  color: #3C2A10;
  font-family: "M+ 1m";
}
.c-dl--level3 h2 {
  font-size: 2.8rem;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .c-dl--level3 h2 {
    font-size: 3.6rem;
  }
}
.c-dl--level3 dd {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .c-dl--level3 dd {
    margin-top: 25px;
  }
}

/* p-cardに使用 */
.c-dl--level4 dd {
  width: 246px;
  max-height: 114px;
  margin-top: 10px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .c-dl--level4 dd {
    width: 284px;
  }
}
@media (min-width: 1025px) {
  .c-dl--level4 dd {
    margin-top: 17px;
    width: 75%;
    max-height: 73px;
  }
}

/* archive, archive-searchページ　レスポンシブ　縦並び→横並び */
.c-layout-list--row__item {
  /* 中央寄せ */
  display: flex; /* 親要素に指定 */
  flex-direction: column; /* 積み重なるように配置する */
  justify-content: center; /* 水平方向の指定 */
  align-items: center; /* 垂直方向の指定 */
  margin-top: 20.9px;
}
.c-layout-list--row__item:first-of-type {
  margin-top: 22px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .c-layout-list--row__item:first-of-type {
    margin-top: 37px;
  }
}
@media (min-width: 1025px) {
  .c-layout-list--row__item:first-of-type {
    margin-top: 70px;
  }
}

.c-title--h3 {
  font-size: 2.2rem;
  font-family: "M+ 1m";
  font-weight: 700;
}

.c-blockquote {
  background-color: #F5F5F5;
  display: flex; /* marginの相殺が起こるので設定 */
  flex-direction: column; /* 行の配置 */
  /* 余白調整 */
  padding: 30px 5%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .c-blockquote {
    padding: 50px 7% 60px 7%;
  }
}
@media (min-width: 1025px) {
  .c-blockquote {
    padding: 50px 4%;
  }
}
.c-blockquote cite {
  padding-top: 30px;
}
.c-blockquote cite a {
  text-decoration: underline;
}

/* archive, search内で使用 */
.p-card {
  width: 336.11px;
  color: #fff;
  background-color: #3C2B1C;
  font-family: "M+ 1m";
  display: flex; /* 親要素に指定 */
  flex-direction: column; /* 積み重なるように配置する */
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-card {
    flex-direction: row; /* 積み重なるように配置する */
    width: 100%;
    height: 357px;
  }
}
@media (min-width: 1025px) {
  .p-card {
    height: 471px;
  }
}
.p-card img {
  vertical-align: bottom;
  height: 230.725px;
  -o-object-fit: cover;
     object-fit: cover;
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-card img {
    width: 50%;
    height: 357px;
  }
}
@media (min-width: 1025px) {
  .p-card img {
    height: 471px;
  }
}
.p-card__caption {
  padding: 30.5px 17px 43.7px 17px;
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-card__caption {
    width: 50%;
    padding: 29px 59px 40px 34.7px;
  }
}
@media (min-width: 1025px) {
  .p-card__caption {
    padding: 53px 63px;
  }
}
.p-card__caption h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 制限したい行数が1 */
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .p-card__caption h1 {
    font-size: 3.6rem;
  }
}
.p-card__caption h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* 制限したい行数が1 */
  overflow: hidden;
  margin-top: 24px;
  font-size: 1.6rem;
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .p-card__caption h2 {
    font-size: 2.4rem;
  }
}
.p-card__caption p {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* 制限したい行数が5 */
  overflow: hidden;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .p-card__caption p {
    margin-top: 17px;
    -webkit-line-clamp: 3; /* 制限したい行数が3 */
  }
}
.p-card__caption .c-button__more {
  margin: auto;
  margin-top: 41px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .p-card__caption .c-button__more {
    margin-top: 60px;
  }
}
.p-card__caption .more-link {
  margin: auto;
  margin-top: 41px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .p-card__caption .more-link {
    margin-top: 60px;
  }
}

/* singleページ内で使用 */
.p-card--single {
  font-family: "M+ 1m";
  width: 100%;
  display: flex; /* 親要素に指定 */
  flex-direction: row; /* 横並びに配置する */
  justify-content: center; /* 水平方向の指定 */
  align-items: flex-start; /* 垂直方向の指定 */
  max-height: 176px;
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-card--single {
    max-height: 373px;
  }
}
@media (min-width: 1025px) {
  .p-card--single {
    max-height: 358px;
  }
}
.p-card--single .wp-block-media-text__media {
  width: 43%;
  align-self: flex-start; /* 垂直方向の指定 */
}
.p-card--single .wp-block-media-text__content {
  padding: 0 3%;
  align-self: flex-start;
  flex: 1;
}
.p-card--single .wp-block-media-text__content .p-card--single__caption {
  text-indent: 0.5em;
}

/* 検索バー */
.p-search {
  width: 85%;
  margin: auto;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* 検索--入力エリア-- */
  /* 検索ボタン */
}
@media (min-width: 834px) {
  .p-search {
    width: 65%;
  }
}
@media (min-width: 1025px) {
  .p-search {
    width: 35%;
    margin-right: 2%;
  }
}
.p-search input[type=search] {
  width: 72%;
  max-width: 546px;
  height: 46px;
  padding: 11px 16px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 0.5em; /* 角丸 */
  vertical-align: top;
}
.p-search input[type=submit] {
  width: 25%;
  max-width: 136px;
  height: 46px;
  margin-left: 3%;
  padding: 0.3em;
  background: linear-gradient(#F2EDE9, #DED8D3);
  color: #707070;
  border: 1px solid #707070;
  border-radius: 0.5em; /* 角丸 */
  cursor: pointer;
  font-family: "M+ 1m";
  font-weight: 700;
  vertical-align: top;
}

.p-first-view {
  width: 100%;
  height: 285px;
  /* 背景の設定 */
  background-image: url(../img/front/first-view--small.jpg);
  background-position: center;
  background-size: cover; /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  display: flex; /* 親要素に指定 */
  align-items: center; /* 垂直方向の指定 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* タイトル */
}
@media (min-width: 834px) {
  .p-first-view {
    background-image: url(../img/front/first-view--large.jpg);
  }
}
@media (min-width: 1025px) {
  .p-first-view {
    height: 49vh;
    min-height: 369px;
  }
}
.p-first-view h2 {
  color: #fff;
  font-size: 3.6rem;
  margin-left: 25px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-first-view h2 {
    margin-left: 86px;
  }
}
@media (min-width: 1025px) {
  .p-first-view h2 {
    font-size: 4rem;
    margin-left: 5.5%;
  }
}

.p-first-view--archive {
  position: relative;
  width: 100%;
  height: 285px;
  color: #fff;
  /* 背景の設定 */
  background-color: #000;
  display: flex; /* 親要素に指定 */
  flex-direction: column; /* 横並びに配置する */
  justify-content: center; /* 水平方向の指定 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* タイトル */
}
.p-first-view--archive::before {
  content: "";
  background-image: url(../img/archive/first-view--small.jpg);
  background-size: cover;
  opacity: 0.5;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 1025px) {
  .p-first-view--archive::before {
    background-image: url(../img/archive/first-view--large.jpg);
    background-position: center;
  }
}
@media (min-width: 834px) {
  .p-first-view--archive {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1025px) {
  .p-first-view--archive {
    height: 30vh;
    min-height: 117px;
  }
}
.p-first-view--archive h1 {
  font-size: 3.6rem;
  margin-left: 37px;
  z-index: 1;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-first-view--archive h1 {
    font-size: 6rem;
    margin-left: 86px;
  }
}
.p-first-view--archive h1 span {
  display: block;
  font-size: 1.6rem;
  padding-top: 7px;
  font-family: "M+ 1m";
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-first-view--archive h1 span {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
  }
}

.p-first-view--single {
  width: 100%;
  height: 225px;
  color: #fff;
  /* 背景の設定 */
  background-image: url(../img/single/first-view.jpg);
  background-position: center;
  background-size: cover; /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  display: flex; /* 親要素に指定 */
  align-items: center; /* 垂直方向の指定 */
  /* タイトル */
}
@media (min-width: 834px) {
  .p-first-view--single {
    height: 500px;
  }
}
.p-first-view--single h1 {
  font-size: 3.6rem;
  margin-left: 26px;
  font-family: "M+ 1m";
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-first-view--single h1 {
    font-size: 6rem;
    margin-left: 86px;
  }
}

.p-first-view--page {
  width: 100%;
  height: 225px;
  color: #fff;
  /* 背景の設定 */
  background-image: url(../img/page/first-view.jpg);
  background-position: center;
  background-size: cover; /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  display: flex; /* 親要素に指定 */
  align-items: center; /* 垂直方向の指定 */
  /* タイトル */
}
@media (min-width: 834px) {
  .p-first-view--page {
    height: 500px;
  }
}
.p-first-view--page h1 {
  font-size: 3.6rem;
  margin-left: 26px;
  font-family: "M+ 1m";
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-first-view--page h1 {
    font-size: 6rem;
    margin-left: 86px;
  }
}

.p-gnavi {
  background-color: #F2EDE9;
  color: #707070;
  font-family: "M+ 1m";
  margin-bottom: 527px;
}
.p-gnavi h2 {
  display: none;
  font-family: "Roboto";
  font-size: 3.4rem;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .p-gnavi h2 {
    display: block;
  }
}
.p-gnavi__main-menu {
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-gnavi__main-menu {
    margin-top: 40px;
    display: block;
    text-align: left;
  }
}
.p-gnavi__main-menu__list {
  margin-top: 38px;
  font-size: 2.4rem;
  font-weight: 700;
}
.p-gnavi__main-menu__list:first-of-type {
  margin-top: 138px;
}
.p-gnavi .p-gnavi__submenu {
  margin-top: 40px;
}
.p-gnavi .p-gnavi__submenu__list {
  margin-top: 22px;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 400;
}

.p-place {
  /* Take Out */
  /* Eat In */
}
.p-place ul {
  padding: 20px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  display: flex; /* 親要素に指定 */
  flex-direction: column; /* 積み重なるように配置する */
  justify-content: center; /* 水平方向の指定 */
  align-items: center; /* 垂直方向の指定 */
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-place ul {
    padding: 40px;
  }
}
@media (min-width: 1025px) {
  .p-place ul {
    padding: 8% 7%;
  }
}
@media (min-width: 834px) {
  .p-place ul {
    flex-direction: row; /* 横並び */
  }
}
.p-place ul h2 {
  font-size: 4.1rem;
  font-weight: 700;
  color: #fff;
  /* 罫線を疑似要素で */
}
.p-place ul h2::after {
  content: "";
  display: block;
  border-bottom: solid #fff 3px;
  width: 36px;
  margin-top: 20px;
}
.p-place__take-out {
  padding: 10px;
  background-image: url(../img/front/take-out.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  height: 642px;
  max-width: 357px;
  display: flex; /* 親要素に指定 */
  flex-direction: column; /* 積み重なるように配置する */
  /********* レスポンシブ *********/
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-place__take-out {
    padding: 2%;
  }
}
@media (min-width: 1025px) {
  .p-place__take-out {
    width: 44%;
    height: 957px;
    max-width: 625px;
    max-height: 1196px;
  }
}
.p-place__take-out .l-container__box {
  margin-top: auto;
  width: 100%;
}
.p-place__take-out .l-container__box .c-dl--level1 {
  margin-top: 10px;
}
.p-place__take-out .l-container__box > :first-child {
  margin-top: 0;
}
.p-place__take-out .l-container__box .c-box {
  width: 100%;
  height: 163px;
}
.p-place__eat-in {
  margin-top: 20px;
  padding: 10px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  background-image: url(../img/front/eat-in.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  height: 642px;
  max-width: 357px;
  display: flex; /* 親要素に指定 */
  flex-direction: column; /* 積み重なるように配置する */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-place__eat-in {
    margin-top: 0px;
    padding: 2%;
    margin-left: 6%;
  }
}
@media (min-width: 1025px) {
  .p-place__eat-in {
    width: 44%;
    height: 957px;
    max-width: 625px;
    max-height: 1196px;
  }
}
.p-place__eat-in .l-container__box {
  margin-top: auto;
  width: 100%;
}
.p-place__eat-in .l-container__box .c-dl--level1 {
  margin-top: 10px;
}
.p-place__eat-in .l-container__box > :first-child {
  margin-top: 0;
}
.p-place__eat-in .l-container__box .c-box {
  width: 100%;
  height: 163px;
}

/* 画像のレイヤーの修正 */
.p-access {
  position: relative;
  width: 100%;
  height: 690px;
  /* _definition-list.scssに加えての設定 */
}
.p-access .c-iframe-wrapper {
  width: 100%;
  position: relative;
  height: calc(100% + 150px);
  overflow: hidden;
}
.p-access .c-iframe-wrapper::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 690px;
}
.p-access .c-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -150px;
}
.p-access::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-access::after {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1025px) {
  .p-access::after {
    width: 61%;
    height: 100%;
  }
}
.p-access .c-dl--level2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-access .c-dl--level2 {
    height: 100%;
  }
}
@media (min-width: 1025px) {
  .p-access .c-dl--level2 {
    height: 100%;
    width: 61%;
  }
}
.p-access .c-dl--level2 h2 {
  color: #fff;
  font-size: 3rem;
  /* 罫線を疑似要素で */
}
.p-access .c-dl--level2 h2::after {
  content: "";
  display: block;
  border-bottom: solid #fff 2px;
  width: 75px;
  margin-top: 20px;
}
.p-access .c-dl--level2 dd {
  margin-top: 15px;
}

.p-archive {
  padding: 6%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 1025px) {
  .p-archive {
    padding: 3% 6%;
  }
}
.p-archive .c-dl--level3 {
  margin-top: 10px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-archive .c-dl--level3 {
    margin-top: 16px;
  }
}

.p-pagination {
  margin-top: 57.4px;
  margin-bottom: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  color: #707070;
  display: flex; /* 親要素に指定 */
  flex-direction: row; /* 並ぶように配置 */
  justify-content: center; /* 水平方向の指定 */
  align-items: center; /* 垂直方向の指定 */
  padding: 6%;
  /*  */
}
@media (min-width: 834px) {
  .p-pagination {
    margin-top: 105.5px;
  }
}
@media (min-width: 1025px) {
  .p-pagination {
    margin-top: 150px;
    margin-bottom: 64px;
  }
}
.p-pagination__list {
  /* li・p-pagination__list__itemの配置の設定 */
  width: 100%;
  display: flex; /* 親要素に指定 */
  flex-direction: row; /* 並ぶように配置する */
  justify-content: right; /* 水平方向の指定（右端配置） */
  align-items: center; /* 垂直方向の指定 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
.p-pagination__list:has(.previouspostslink) {
  justify-content: space-between; /* 水平方向の指定（左右に配置） */
}
@media (min-width: 834px) {
  .p-pagination__list {
    width: auto;
    justify-content: center; /* 水平方向の指定（中央配置） */
  }
}
.p-pagination__list__item {
  /* 「次へ」「前へ」以外は非表示 */
  width: auto;
  height: auto;
  margin-left: 15px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  cursor: pointer;
  border: solid 1.5px #707070;
  display: flex; /* 親要素に指定 */
  justify-content: center; /* 水平方向の指定 */
  align-items: center; /* 垂直方向の指定 */
}
.p-pagination__list__item:not(:has(.nextpostslink, .previouspostslink)) {
  display: none;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-pagination__list__item:not(:has(.nextpostslink, .previouspostslink)) {
    display: flex;
  }
}
@media (min-width: 834px) {
  .p-pagination__list__item {
    width: 35px;
    height: 35px;
  }
  .p-pagination__list__item a {
    display: flex; /* 親要素に指定 */
    justify-content: center; /* 水平方向の指定 */
    align-items: center; /* 垂直方向の指定 */
    width: 35px;
    height: 35px;
  }
  .p-pagination__list__item:not(:has(.pages, .nextpostslink, .previouspostslink, .extend)) :hover {
    background-color: #3C2B1C;
    color: #fff;
  }
  .p-pagination__list__item .extend {
    cursor: auto;
  }
}
.p-pagination__list__item:first-of-type {
  margin-left: 0;
  width: auto;
  height: auto;
}
.p-pagination__list__item:has(.pages, .nextpostslink, .previouspostslink) {
  border: none;
}
.p-pagination__list__item:has(.current) {
  background-color: #3C2B1C;
  color: #fff;
  cursor: auto;
}
.p-pagination__list__item > .pages {
  display: none;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-pagination__list__item > .pages {
    display: block;
    cursor: auto;
  }
}
.p-pagination__list__item .nextpostslink::before {
  content: "次へ";
  margin-right: 8.2px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-pagination__list__item .nextpostslink::before {
    display: none;
  }
}
.p-pagination__list__item .previouspostslink::after {
  content: "前へ";
  margin-left: 8.2px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-pagination__list__item .previouspostslink::after {
    display: none;
  }
}

.p-single {
  /* 余白調整 */
  padding: 0 5% 70px 5%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  font-family: "M+ 1m";
  color: #3C2A10;
}
@media (min-width: 1025px) {
  .p-single {
    padding: 0 6% 179px 6%;
  }
}
.p-single h2 {
  margin-top: 30px;
  font-size: 2.8rem;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single h2 {
    margin-top: 60px;
    font-size: 3.6rem;
  }
}
.p-single h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 34px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single h3 {
    margin-top: 60px;
  }
}
.p-single h4, .p-single h5, .p-single h6 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 29px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single h4, .p-single h5, .p-single h6 {
    margin-top: 59px;
  }
}
.p-single p {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single p {
    margin-top: 60px;
  }
}
.p-single .c-blockquote {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single .c-blockquote {
    margin-top: 60px;
  }
}
.p-single__image--large {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single__image--large {
    margin-top: 60px;
  }
}
.p-single .p-card--single {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single .p-card--single {
    margin-top: 60px;
  }
}
.p-single .p-single__image--small {
  margin: 30px auto 0 auto;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  width: 80%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single .p-single__image--small {
    margin-top: 60px;
  }
}
@media (min-width: 834px) {
  .p-single .p-single__image--small {
    width: 43%;
  }
}
.p-single .p-single__image--small img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.p-single .p-single__images {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* gridの設定(1列) */
  row-gap: 20px; /* 画像間の余白 */
  justify-items: center; /* 中央寄せ */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single .p-single__images {
    margin-top: 60px;
  }
}
@media (min-width: 834px) {
  .p-single .p-single__images {
    grid-template-columns: repeat(2, 1fr); /* gridの設定(2列) */
    gap: 20px 16px; /* 画像間の余白 縦方向 横方向 */
  }
}
@media (min-width: 1025px) {
  .p-single .p-single__images {
    grid-template-columns: repeat(3, 1fr); /* gridの設定(3列) */
    gap: 20px 20px; /* 画像間の余白 縦方向 横方向 */
  }
}
.p-single .p-single__images__card {
  width: 100%;
}
.p-single .p-single__images__card img {
  width: 100%;
  max-width: 349px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-single .p-single__list, .p-single .p-single__list--ul, .p-single .p-single__list--ol {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single .p-single__list, .p-single .p-single__list--ul, .p-single .p-single__list--ol {
    margin-top: 60px;
  }
}
.p-single .p-single__list--ol {
  margin-top: 20px;
}
.p-single .p-single__list--ol li {
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  list-style-position: inside;
  list-style-type: decimal;
}
@media (min-width: 834px) {
  .p-single .p-single__list--ol li {
    margin-left: 50px;
  }
}
.p-single .p-single__list--ol li ol, .p-single .p-single__list--ol li ul {
  margin-top: 20px;
  margin-left: 18px;
  margin-bottom: 20px;
}
.p-single .p-single__list--ul li {
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  list-style-position: inside;
  list-style-type: disc;
}
@media (min-width: 834px) {
  .p-single .p-single__list--ul li {
    margin-left: 50px;
  }
}
.p-single .p-single__list--ul li ul, .p-single .p-single__list--ul li ol {
  margin-top: 20px;
  margin-left: 18px;
  margin-bottom: 20px;
}
.p-single .p-single__list--ul li ul li, .p-single .p-single__list--ul li ol li {
  list-style-type: circle;
}
.p-single pre {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  height: 237px;
  background-color: #F5F5F5;
  padding: 50px 16.4%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single pre {
    margin-top: 60px;
  }
}
@media (min-width: 834px) {
  .p-single pre {
    padding: 50px 8.4%;
  }
}
@media (min-width: 1025px) {
  .p-single pre {
    padding: 50px 4%;
  }
}
.p-single pre code {
  line-height: 2.3rem;
}
.p-single table {
  width: 100%;
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  border-collapse: collapse;
  background-color: white;
}
@media (min-width: 834px) {
  .p-single table {
    margin-top: 60px;
  }
}
.p-single table tr {
  height: 77px;
  border: solid 1px #707070;
}
.p-single table tr td {
  padding-left: 30px;
  border: solid 1px #707070;
}
.p-single table tr td:first-of-type {
  width: 40%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single table tr td:first-of-type {
    width: 30%;
  }
}
.p-single .wp-block-buttons .wp-block-button {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  width: 100%;
  max-width: 429px;
  height: 81px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 834px) {
  .p-single .wp-block-buttons .wp-block-button {
    margin-top: 60px;
  }
}
@media (min-width: 834px) {
  .p-single .wp-block-buttons .wp-block-button {
    height: 104px;
  }
}
.p-single .wp-block-buttons .wp-block-button__link {
  background: linear-gradient(#F2EDE9, #DED8D3);
  border: 1px solid #707070;
  border-radius: 1em; /* 角丸 */
  color: #707070;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 429px;
  height: 81px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single .wp-block-buttons .wp-block-button__link {
    height: 104px;
  }
}
.p-single .p-single__bold {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}
@media (min-width: 834px) {
  .p-single .p-single__bold {
    margin-top: 60px;
  }
}

.u-margintop20 {
  margin-top: 20px;
}