@charset "UTF-8";
/* variable */
/*
【font-family】について
    font-family: 候補1,候補2,候補3,フォントの種類;
        「sans-serif」  ゴシック体系のフォント（MSゴシック、中ゴシック、Arialなど）
        「serif」       明朝体系のフォント（MS明朝、MS P明朝、Garamond、MS Georgia、Times New Romanなど）
        「cursive」     筆記体系のフォント（caflisch script、ex pontoなど）
        「fantasy」     装飾系のフォント（critter、studzなど）
        「monospace」   等幅系のフォント（Osaka-等幅、courier、Courier Newなど）
    ※日本語テキストにcursiveを指定していると、希に正常に表示できない場合がある※
    英語フォントと日本語フォントの両方を指定する場合は、先に英語フォントを指定する。
    そうすることで、アルファベットには英語フォントが、日本語には日本語フォントが使用されるようになる。

// バグの見つけ方
* {
    outline: 2px solid blue;
  }
*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Roboto', 'M+ 1m', sans-serif;
  overflow-x: hidden;
  width: 100%;
  /* Menuボタン開閉 */
}

body.is-open {
  position: fixed;
  overflow: hidden;
}

body.is-open::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #707070;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

/*----------------------------------------------------------
◆SmartPhone  : 320px〜540px
	iPhone 12mini   : 5.4インチ、375 × 667
	iPhone 12ProMax : 6.7インチ、428 × 926
	※最小幅は320px（iPadminiのsplit viewもこの値）
	※利用率が高いのは375pxだが320pxで表示崩れ（横スクロールなど）がないか確認することが確実。

	max-width : 599px
	min-width : 設定なし（実質599px以下）

	ここでの変数、breakpoint-small

◆Tablet      : 600px〜1024px
	iPadAir 4 : 10.9インチ、820 × 1180
	タブレットの最小サイズは  600px
	最もシェア率の高いサイズが  768 × 1024。つまり横にすると幅は1024px

	max-width : 1024px
	min-width : 600px

	ここでの変数、breakpoint-medium

◆PC          : 1280px〜
	PCのブレイクポイントはタブレット1024pxにプラス1px加えた1025px。
	PCのブレイクポイントは1280px以下で設定が無難。

	max-width : 設定なし（実質1025px以上）
	min-width : 1025px

	ここでの変数、breakpoint-large

	
モバイルファーストなら、min-width
PCファーストなら、max-width

参照URL
https://daib-log.com/responsive/
2021.05
----------------------------------------------------------*/
/* モバイルファースト */
/* gridでheader、main（first-view、place、access）、sidebarのレイアウト指定 */
.l-container {
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .l-container {
    display: grid;
    grid-template-columns: 1fr 19%;
  }
  .l-container .l-header {
    grid-row: 1;
    grid-column: 1;
  }
  .l-container .p-main {
    grid-row: 2;
    grid-column: 1;
  }
  .l-container .l-sidebar {
    grid-row: 1 / 3;
    grid-column: 2;
  }
}

/* ヘッダー全般 */
.l-header {
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
  color: #707070;
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* タイトル */
}

@media (min-width: 1025px) {
  .l-header {
    flex-direction: row;
    height: 20vh;
    min-height: 150px;
  }
}

.l-header h1 {
  font-weight: 700;
  margin: 0 auto;
  font-size: 4.0rem;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .l-header h1 {
    margin: auto;
    margin-left: 4%;
    font-size: 6.4rem;
  }
}

/* メニュー */
.l-sidebar {
  /*--------ここから下がメニューボタンを考えての対応----------*/
  /* 画面外に配置 */
  position: fixed;
  top: 0%;
  left: 100%;
  background-color: #F2EDE9;
  height: 100%;
  padding-left: 46px;
  /* メニューボタン押下 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* _button.scssへ移動 */
}

.l-sidebar.is-open {
  left: 13%;
  width: 87%;
  /* 幅の変更 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  overflow-y: scroll;
}

@media (min-width: 834px) {
  .l-sidebar.is-open {
    left: 56%;
    width: 44%;
  }
}

@media (min-width: 1025px) {
  .l-sidebar {
    display: block;
    position: static;
    width: 100%;
    padding-top: 82px;
  }
}

/* display: flexを使った方法 */
.l-footer {
  width: 100%;
  height: 150px;
  background-image: url(/img/front/footer.png);
  background-repeat: repeat;
  color: #fff;
  font-family: "M+ 1m";
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  align-items: center;
  /* 垂直方向の指定 */
}

.l-footer p {
  padding-top: 39px;
  font-size: 2.0rem;
}

.l-footer p:last-of-type {
  padding-top: 29px;
}

.l-footer p small {
  font-size: 1.4rem;
}

/* text-align: centerを使った方法 */
.c-button, .c-button--menu, .c-button--close {
  cursor: pointer;
  /* メニューボタン */
  /* 閉じるボタン*/
}

.c-button--menu {
  font-size: 20px;
  font-weight: 700;
  padding: 14px 0px;
  margin: 0 16px 0 auto;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .c-button--menu {
    font-size: 3.4rem;
    padding-bottom: 0px;
    margin-right: 26px;
  }
}

@media (min-width: 1025px) {
  .c-button--menu {
    display: none;
  }
}

.c-button--close {
  display: block;
  position: relative;
  width: 66px;
  height: 66px;
  margin: 0 0 0 auto;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .c-button--close {
    display: none;
  }
}

.c-button--close::before, .c-button--close::after {
  content: "";
  display: block;
  width: 44.8px;
  height: 6px;
  background-color: #707070;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top: calc(25% - 3px);
  left: 25%;
}

.c-button--close::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
  left: auto;
  right: 25%;
}

/* ×ボタン*/
.c-button__more {
  width: 163.16px;
  padding: 10px 0px;
  font-family: "M+ 1m";
  background: #fff;
  color: #707070;
  border: none;
  border-radius: 2.35em;
  /* 角丸 */
  cursor: pointer;
  outline: none;
  appearance: none;
  font-weight: 700;
  display: block;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .c-button__more {
    width: 292px;
    height: 76px;
  }
}

.c-box {
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0;
  padding: 20px 10px;
}

.c-box__title {
  margin-bottom: 0.4em;
  font-size: 2.2rem;
  font-weight: 700;
}

/*
    背景の設定
*/
.c-background--mask::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}

/* p-placeに使用 */
.c-dl--level1 {
  margin-top: 10px;
  color: #3C2A10;
}

.c-dl--level1 dd {
  margin-top: 15px;
  line-height: 2.5rem;
  font-family: "M+ 1m";
}

/* p-accessに使用 */
.c-dl--level2 {
  padding: 40px;
  color: #fff;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .c-dl--level2 {
    padding-top: 66px;
    padding-left: 95px;
    padding-right: 107px;
  }
}

.c-dl--level2 dd {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  font-family: "M+ 1m";
}

/* p-cardに使用 */
.c-dl--level3 {
  width: 100%;
  color: #3C2A10;
  margin-top: 10px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  font-family: "M+ 1m";
}

@media (min-width: 834px) {
  .c-dl--level3 {
    margin-top: 16px;
  }
}

.c-dl--level3 h2 {
  font-size: 2.8rem;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .c-dl--level3 h2 {
    font-size: 3.6rem;
  }
}

.c-dl--level3 dd {
  margin-top: 30px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .c-dl--level3 dd {
    margin-top: 25px;
  }
}

.c-dl--level4 {
  margin-top: 24px;
}

.c-dl--level4 dd {
  width: 246px;
  height: 114px;
  margin-top: 10px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .c-dl--level4 dd {
    width: 284px;
  }
}

@media (min-width: 1025px) {
  .c-dl--level4 dd {
    margin-top: 17px;
    width: 75%;
    height: 73px;
  }
}

.c-layout-list {
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  justify-content: center;
  /* 水平方向の指定 */
  align-items: center;
  /* 垂直方向の指定 */
}

.c-layout-list__item {
  max-width: 345px;
  margin-bottom: 50px;
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

.c-layout-list__item:last-of-type {
  margin-bottom: 0;
}

/* archiveページ　レスポンシブ　縦並び→横並び */
.c-layout-list--row__item {
  margin-top: 20.9px;
}

.c-layout-list--row__item:first-of-type {
  margin-top: 22px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .c-layout-list--row__item:first-of-type {
    margin-top: 37px;
  }
}

@media (min-width: 1025px) {
  .c-layout-list--row__item:first-of-type {
    margin-top: 70px;
  }
}

.c-title--h3 {
  font-size: 2.2rem;
  font-family: "M+ 1m";
  font-weight: 700;
}

.p-card {
  width: 336.11px;
  color: #fff;
  background-color: #3C2B1C;
  font-family: "M+ 1m";
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-card {
    flex-direction: row;
    /* 積み重なるように配置する */
    width: 100%;
    height: 357px;
  }
}

@media (min-width: 834px) {
  .p-card {
    height: 471px;
  }
}

.p-card img {
  vertical-align: bottom;
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-card img {
    width: 50%;
    object-fit: cover;
  }
}

.p-card__caption {
  padding: 30.5px 17px 43.7px 17px;
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-card__caption {
    width: 50%;
    padding: 29px 59px 40px 34.7px;
  }
}

@media (min-width: 1025px) {
  .p-card__caption {
    padding: 53px 63px;
  }
}

.p-card__caption h3 {
  font-size: 2.0rem;
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-card__caption h3 {
    font-size: 3.6rem;
  }
}

.p-card__caption h4 {
  font-weight: 700;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-card__caption h4 {
    font-size: 2.4rem;
  }
}

.p-card__caption .c-dl--level3 {
  margin-top: 24px;
}

.p-card__caption .c-button__more {
  margin: auto;
  margin-top: 41px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-card__caption .c-button__more {
    margin-top: 60px;
  }
}

/* 検索バー */
.p-search {
  width: 85%;
  margin: auto;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* 検索--入力エリア-- */
  /* 検索ボタン */
}

@media (min-width: 834px) {
  .p-search {
    width: 65%;
  }
}

@media (min-width: 1025px) {
  .p-search {
    width: 35%;
    margin-right: 2%;
  }
}

.p-search input[type="search"] {
  width: 72%;
  max-width: 546px;
  height: 46px;
  padding: 11px 16px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 0.5em;
  /* 角丸 */
  vertical-align: top;
}

.p-search input[type="submit"] {
  width: 25%;
  max-width: 136px;
  height: 46px;
  margin-left: 3%;
  padding: 0.3em;
  background: linear-gradient(#F2EDE9, #DED8D3);
  color: #707070;
  border: 1px solid #707070;
  border-radius: 0.5em;
  /* 角丸 */
  cursor: pointer;
  font-family: "M+ 1m";
  font-weight: 700;
  vertical-align: top;
}

.p-first-view {
  width: 100%;
  height: 285px;
  /* 背景の設定 */
  background-image: url(/img/front/first-view--small.jpg);
  background-position: center;
  background-size: cover;
  /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  display: flex;
  /* 親要素に指定 */
  align-items: center;
  /* 垂直方向の指定 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* タイトル */
}

@media (min-width: 834px) {
  .p-first-view {
    background-image: url(/img/front/first-view--large.jpg);
  }
}

@media (min-width: 1025px) {
  .p-first-view {
    height: 49vh;
    min-height: 369px;
  }
}

.p-first-view h2 {
  color: #fff;
  font-size: 3.6rem;
  margin-left: 25px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-first-view h2 {
    margin-left: 86px;
  }
}

@media (min-width: 1025px) {
  .p-first-view h2 {
    font-size: 4.0rem;
    margin-left: 5.5%;
  }
}

.p-first-view--archive {
  position: relative;
  width: 100%;
  height: 285px;
  color: #fff;
  /* 背景の設定 */
  background-color: #000;
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 横並びに配置する */
  justify-content: center;
  /* 水平方向の指定 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* タイトル */
}

.p-first-view--archive::before {
  content: "";
  background-image: url(/img/archive/first-view--small.jpg);
  background-size: cover;
  opacity: 0.5;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 1025px) {
  .p-first-view--archive::before {
    background-image: url(/img/archive/first-view--large.jpg);
    background-position: center;
  }
}

@media (min-width: 834px) {
  .p-first-view--archive {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .p-first-view--archive {
    height: 30vh;
    min-height: 117px;
  }
}

.p-first-view--archive h1 {
  font-size: 3.6rem;
  margin-left: 37px;
  z-index: 1;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-first-view--archive h1 {
    font-size: 6.0rem;
    margin-left: 86px;
  }
}

.p-first-view--archive p {
  margin-left: 37px;
  padding-top: 7px;
  font-family: "M+ 1m";
  font-weight: 700;
  z-index: 1;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-first-view--archive p {
    margin-left: 20px;
  }
}

.p-gnavi {
  background-color: #F2EDE9;
  color: #707070;
  font-family: "M+ 1m";
  margin-bottom: 527px;
}

.p-gnavi h2 {
  display: none;
  font-family: 'Roboto';
  font-size: 3.4rem;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-gnavi h2 {
    display: block;
  }
}

.p-gnavi h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

.p-gnavi__main-menu {
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-gnavi__main-menu {
    margin-top: 40px;
    display: block;
    text-align: left;
  }
}

.p-gnavi__main-menu__list {
  margin-top: 38px;
}

.p-gnavi__main-menu__list:first-of-type {
  margin-top: 138px;
}

.p-gnavi .p-gnavi__sub-menu {
  margin-top: 40px;
}

.p-gnavi .p-gnavi__sub-menu__list {
  margin-top: 22px;
  margin-left: 20px;
  font-size: 2rem;
}

.p-place {
  /* Take Out */
  /* Eat In */
}

.p-place ul {
  padding: 20px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  justify-content: center;
  /* 水平方向の指定 */
  align-items: center;
  /* 垂直方向の指定 */
  /* レスポンシブ対応 */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-place ul {
    padding: 40px;
  }
}

@media (min-width: 1025px) {
  .p-place ul {
    padding: 8% 7%;
  }
}

@media (min-width: 834px) {
  .p-place ul {
    flex-direction: row;
    /* 横並び */
  }
}

.p-place ul h2 {
  font-size: 4.1rem;
  font-weight: 700;
  color: #fff;
  /* 罫線を疑似要素で */
}

.p-place ul h2::after {
  content: "";
  display: block;
  border-bottom: solid #fff 3px;
  width: 36px;
  margin-top: 20px;
}

.p-place__take-out {
  padding: 10px;
  background-image: url(/img/front/take-out.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  height: 642px;
  max-width: 357px;
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  /********* レスポンシブ *********/
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-place__take-out {
    padding: 2%;
  }
}

@media (min-width: 1025px) {
  .p-place__take-out {
    width: 44%;
    height: 957px;
    max-width: 625px;
    max-height: 1196px;
  }
}

.p-place__take-out .l-container__box {
  margin-top: auto;
  width: 100%;
}

.p-place__take-out .l-container__box > :first-child {
  margin-top: 0;
}

.p-place__take-out .l-container__box .c-box {
  width: 100%;
  height: 163px;
}

.p-place__eat-in {
  margin-top: 20px;
  padding: 10px;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  background-image: url(/img/front/eat-in.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
  height: 642px;
  max-width: 357px;
  display: flex;
  /* 親要素に指定 */
  flex-direction: column;
  /* 積み重なるように配置する */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-place__eat-in {
    margin-top: 0px;
    padding: 2%;
    margin-left: 6%;
  }
}

@media (min-width: 1025px) {
  .p-place__eat-in {
    width: 44%;
    height: 957px;
    max-width: 625px;
    max-height: 1196px;
  }
}

.p-place__eat-in .l-container__box {
  margin-top: auto;
  width: 100%;
  z-index: 2;
}

.p-place__eat-in .l-container__box > :first-child {
  margin-top: 0;
}

.p-place__eat-in .l-container__box .c-box {
  width: 100%;
  height: 163px;
}

/* 画像のレイヤーの修正 */
.p-access {
  position: relative;
  width: 100%;
  height: 690px;
  background-color: #000;
  /* _definition-list.scssに加えての設定 */
}

.p-access::before {
  content: "";
  background-image: url(/img/front/map--small.jpg);
  background-size: cover;
  opacity: 0.6;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 834px) {
  .p-access::before {
    background-image: url(/img/front/map--large.jpg);
  }
}

.p-access::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 834px) {
  .p-access::after {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .p-access::after {
    width: 61%;
    height: 100%;
  }
}

.p-access .c-dl--level2 {
  position: absolute;
  z-index: 1;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

.p-access .c-dl--level2 dd {
  margin-top: 15px;
}

@media (min-width: 834px) {
  .p-access .c-dl--level2 {
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .p-access .c-dl--level2 {
    height: 100%;
    width: 61%;
  }
}

.p-access h2 {
  color: #fff;
  font-size: 3.0rem;
  /* 罫線を疑似要素で */
}

.p-access h2::after {
  content: "";
  display: block;
  border-bottom: solid #fff 2px;
  width: 75px;
  margin-top: 20px;
}

.p-archive {
  padding: 6%;
  /* SP基準--tablet-- */
  /* SP基準--PC-- */
}

@media (min-width: 1025px) {
  .p-archive {
    padding: 3% 6%;
  }
}
/*# sourceMappingURL=style.css.map */