.c-button {
    // width: 136px;
    // padding: 12px 52px;
    // background: $color--background--menu-pc;
    // color: $color--text-main;
    // border: 1px solid $color--text-main;    // 枠線指定（太さ・スタイル・色）
    // border-radius: 0.5em;                   /* 角丸 */
    // cursor: pointer;
    // // outline: none;
    // appearance: none;
    // font-size: 1.6rem;
    // // font-weight: 600;
    // // display: block;
    &--menu{
        cursor: pointer;        // カーソルをポインターに
    }
    /* ×ボタン*/
    // &--close{
    //     display: block;
    //     position: relative;
    //     width: 30px;
    //     height: 30px;
        // padding: 17px;
        // top: 8px;
        // right: 0;
        // left: auto;
        // position: absolute;
        // background-color: $color--text-main;
        // cursor: pointer;        // カーソルをポインターに
        // &::before, ::after{
        //     content: "";
        //     display: block;
        //     width: 25px;
        //     height: 2px;
        //     background-color: $color--text-main;
        //     transform: rotate(45deg);
        //     transform-origin: 0% 50%;
        //     position: absolute;
        //     top: calc(14% - 5px);
        //     left: 14%;
        // }

        // &::after{
        //     transform: rotate(-45deg);
        //     transform-origin:100% 50%;
        //     left: auto;
        //     right: 14%;
        // }
        // .bar-top{
        //     transform: translate(-50%,10px) rotate(45deg);
        //     transition: transform .3s;
        // }
        // .bar-bottom{
        //     transform: translate(-50%,-4px) rotate(-45deg);
        //     transition: transform .3s;
        // }
    }
/* ×ボタン*/
.c-button--close{
    display: block;
    position: relative;
    width: 66px;
    height: 66px;
    // padding: 17px;
    // top: 8px;
    // right: 0;
    // left: auto;
    // background-color: #CCC;
    cursor: pointer;        // カーソルをポインターに

    &::before, &::after{
        content: "";
        display: block;
        width: 44.8px;        // 線の長さ
        height: 6px;        // 線の太さ
        background-color: $color--text-main;
        transform: rotate(45deg);
        transform-origin: 0% 50%;
        position: absolute;
        top: calc(25% - 3px);
        left: 25%;
    }
    &::after{
        transform: rotate(-45deg);
        transform-origin: 100% 50%;
        left: auto;
        right: 25%;
    }
}