@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

.c-button {
	cursor: pointer;        // カーソルをポインターに
	/* メニューボタン */
	&--menu{
		@extend .c-button;   // .c-buttonの継承
		
		font-size: 20px;
		font-weight: 700;           // bold
		padding: 14px 0px;          // 上下、左右
		@include mixin.breakpoint( breakpoint-medium ){
			font-size: 3.4rem;
		}
	}
	/* 閉じるボタン*/
	&--close{
		@extend .c-button;      // .c-buttonの継承

		display: block;
		position: relative;
		width: 66px;
		height: 66px;

		// ×の成形
		&::before, &::after{
			content: "";
			display: block;
			width: 44.8px;      // 線の長さ
			height: 6px;        // 線の太さ
			background-color: variable.$color--text-main;
			transform: rotate(45deg);
			transform-origin: 0% 50%;
			position: absolute;
			top: calc(25% - 3px);   // 線の太さの半分を引く
			left: 25%;              // padding17pxは66pxに対して25%
		}
		&::after{
			transform: rotate(-45deg);
			transform-origin: 100% 50%;
			left: auto;
			right: 25%;
		}
	}
}

.c-button__more{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 163px;	// 163.16px 48.5%
	height: 44px;
	font-family: 'M PLUS 1p', sans-serif;
	background: variable.$color--background--button;
	color: variable.$color--text-main;
	border: none;
	border-radius: 2.35em;   /* 角丸 */
	// box-shadow: 0 0 10px #1B1310;
	cursor: pointer;
	outline: none;
	appearance: none;
	font-weight: 700;
	@include mixin.breakpoint( breakpoint-large ){
		width: 100%;
		max-width: 292px;
		height: 76px;
	}
}
// 43, 40, 60	margin-bottomメモ

.more-link{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 163px;	// 163.16px 48.5%
	height: 44px;
	font-family: 'M PLUS 1p', sans-serif;
	background: variable.$color--background--button;
	color: variable.$color--text-main;
	border: none;
	border-radius: 2.35em;   /* 角丸 */
	// box-shadow: 0 0 10px #1B1310;
	cursor: pointer;
	outline: none;
	appearance: none;
	font-weight: 700;
	@include mixin.breakpoint( breakpoint-large ){
		width: 100%;
		max-width: 292px;
		height: 76px;
	}
}
