/* p-placeに使用 */
.c-dl--level1{
    margin-top: 10px;
    color: $color--card-text;

    // dt内はh3のため、サイズの指定はh3で行う
    // dt{
    //     font-size: 2.2rem;
    //     // margin-bottom: 20px;
    // }
    dd{
        margin-top: 15px;
        line-height: 2.5rem;
        font-family: "M+ 1m";
    }
}

/* p-accessに使用 */
.c-dl--level2{
    padding: 40px;
    color: $color--text-sub;
    @include breakpoint( breakpoint-large ){
        // 幅1536pxにするにはカンプの数値の80%
        padding-top: 66px;
        padding-left: 95px;
        padding-right: 107px;
    }
    dd{
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 700;       // bold
        line-height: 3.3rem;
        font-family: "M+ 1m";
    }
}

/* p-cardに使用 */
.c-dl--level3{
    // width: 335px;
    // width: 90%;
    width: 100%;        // 周りの余白は親のpaddingで調整するから、ここでは目一杯広げる
    color: $color--card-text;
    margin-top: 10px;   // margin-top: 30px;    paddingが20pxあるから
    @include breakpoint( breakpoint-medium ){
        margin-top: 16px;
    }
    // @include breakpoint( breakpoint-large ){
    //     margin-top: 40px;
    // }
    
    font-family: "M+ 1m";
    h2{
        font-size: 2.8rem;
        @include breakpoint( breakpoint-medium ){
            font-size: 3.6rem;
        }
    }
    dd{
        // height: 276px;
        margin-top: 30px;
        @include breakpoint( breakpoint-medium ){
            margin-top: 25px;
        }
    }
}
.c-dl--level4{
    margin-top: 24px;
    dd{
        width: 246px;
        height: 114px;
        margin-top: 10px;
        @include breakpoint( breakpoint-medium ){
            width: 284px;
        }
        @include breakpoint( breakpoint-large ){
            margin-top: 17px;
            width: 75%;
            height: 73px;
        }
        // padding-left: 8px;       // インテンド指定（勘違い）
        // margin-left: 8px;       // インテンド指定（勘違い）
    }
    // padding: 40px;
    // color: $color--text-sub;
    // @include breakpoint( breakpoint-large ){
    //     // 幅1536pxにするにはカンプの数値の80%
    //     padding-top: 66px;
    //     padding-left: 95px;
    //     padding-right: 107px;
    // }
    // dd{
    //     margin-top: 20px;
    //     font-size: 1.4rem;
    //     font-weight: 700;       // bold
    //     line-height: 3.3rem;
    //     font-family: "M+ 1m";
    // }
}

/* singleページで使用 */
.c-dl--level5{
    width: 100%;        // 周りの余白は親のpaddingで調整するから、ここでは目一杯広げる
    color: $color--text-single;
    font-family: "M+ 1m";
    h2{
        font-size: 2.8rem;
        @include breakpoint( breakpoint-medium ){
            font-size: 3.6rem;
        }
    }
    dd{
        margin-top: 30px;
        @include breakpoint( breakpoint-medium ){
            margin-top: 60px;
        }
    }
}