.c-dl--level1{
    margin-top: 10px;
    color: $color--card-text;
    
    // dt{
    //     font-size: 2.2rem;
    //     // margin-bottom: 20px;
    // }
    dd{
        margin-top: 15px;
        // font-size: 1.6rem;
        line-height: 2.5rem;
        font-family: "M+ 1m";
        // margin-bottom: 40px;
    }
    /* レスポンシブ対応 */
    // @include breakpoint( breakpoint_large ){
    //     margin-bottom: 0px;
    //     dd{
    //         margin-bottom: 0px;
    //     }
    // }
}

.c-dl--level2{
    padding: 40px;
    color: $color--text-sub;
    dd{
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 700;       // bold
        line-height: 3.3rem;
        font-family: "M+ 1m";
    }
}