@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

/* p-placeに使用 */
.c-dl--level1{
	color: variable.$color--card-text;
	// dt内はh3のため、サイズの指定はh3で行う。c-title--h3へ
	dd{
		margin-top: 15px;
		line-height: 2.5rem;
		font-family: 'M PLUS 1p', sans-serif;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3; /* 制限したい行数が3 */
		overflow: hidden;
	}
}

/* p-accessに使用 */
.c-dl--level2{
	padding: 40px;
	color: variable.$color--text-sub;
	@include mixin.breakpoint( breakpoint-large ){
		// 幅1536pxにするにはカンプの数値の80%
		padding-top: 66px;
		padding-left: 95px;
		padding-right: 107px;
	}
	dd{
		margin-top: 20px;
		font-size: 1.4rem;
		font-weight: 700;       // bold
		line-height: 3.3rem;
		font-family: 'M PLUS 1p', sans-serif;
	}
}

/* p-archiveに使用 */
.c-dl--level3{
	width: 100%;        // 周りの余白は親のpaddingで調整するから、ここでは目一杯広げる
	color: variable.$color--card-text;
	font-family: 'M PLUS 1p', sans-serif;
	h2{
		font-size: 2.8rem;
		@include mixin.breakpoint( breakpoint-medium ){
			font-size: 3.6rem;
		}
	}
	dd{
		// height: 276px;
		margin-top: 30px;
		@include mixin.breakpoint( breakpoint-medium ){
			margin-top: 25px;
		}
	}
}

/* p-cardに使用 */
.c-dl--level4{
	dd{
		width: 246px;
		max-height: 114px;
		margin-top: 10px;
		@include mixin.breakpoint( breakpoint-medium ){
			width: 284px;
		}
		@include mixin.breakpoint( breakpoint-large ){
			margin-top: 17px;
			width: 75%;
			max-height: 73px;
		}
	}
}
