@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

.c-title{
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 700;	// bold
	&--h1{				// single, pageのタイトルで使用
		@extend .c-title;
		font-size: 3.6rem;// フォントサイズの指定もしなくちゃいけないけど、cでタイトルをまとめたほうがいいかも？
		color: variable.$color--text-sub;
		display: flex;			/* 親要素に指定 */
		align-items: center;	/* 垂直方向の指定 */
		width: 100vw;	// 親要素の無視して画面いっぱいにする
		height: 225px;
		margin-right: calc(50% - 50vw);
		margin-left: calc(50% - 50vw);
		// 子要素の中身の幅が親要素の幅を維持
		padding-right: calc(50vw - 50%);
		padding-left: 26px;

		@include mixin.breakpoint( breakpoint-medium ){
			font-size: 6.0rem;
			padding-left: 86px;
		}
		@include mixin.breakpoint( breakpoint-large ){
			width: 82vw;		// メニューが表示されるので、画面幅の80%くらいに変更
			// margin-right: calc(50% - 39px);
			margin-left: calc(51% - 42vw);
		}
		/* 背景の設定 */
		background-position: center;
		background-size: cover;	/* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
		@include mixin.breakpoint( breakpoint-medium ) {
			height: 500px;
		}
		&--single{
			@extend .c-title--h1;
			background-image: url(../img/single/first-view.jpg);
		}
		&--page{
			@extend .c-title--h1;
			background-image: url(../img/page/first-view.jpg);
		}
	}
	&--h3{
		@extend .c-title;
		font-size: 2.2rem;
	}
}

// 「ダミーサイト」部分
.c-title--main{
	width: 100%;
	height:285px;
	color: variable.$color--text-sub;
	font-size: 3.6rem;// フォントサイズの指定もしなくちゃいけないけど、cでタイトルをまとめたほうがいいかも？
	padding-left: 25px;
	@include mixin.breakpoint( breakpoint-medium ){
		padding-left: 86px;
	}
	@include mixin.breakpoint( breakpoint-large ) {
		font-size: 4.0rem;
		padding-left: 5.5%;
	}
	/* 背景の設定 */
	background-image: url(../img/front/first-view--small.jpg);
	background-position: center;
	background-size: cover;			/* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
	display: flex;					/* 親要素に指定 */
	align-items: center;			/* 垂直方向の指定 */
	@include mixin.breakpoint( breakpoint-medium ) {
		background-image: url(../img/front/first-view--large.jpg);
	}
	@include mixin.breakpoint( breakpoint-large ) {
		height: 49vh;
		min-height: 369px;			// PC最大化（自分の）の753pxの49%
	}
}

// タイトル背景にグレーのマスクをかける処理
.c-title--gray{
	color: variable.$color--text-sub;
	font-size: 3.6rem;// フォントサイズの指定
	padding-left: 37px;
	width: 100%;
	height:285px;
	@include mixin.breakpoint( breakpoint-medium ){
		font-size: 6.0rem;
		padding-left: 86px;
	}

	display: flex;                  /* 親要素に指定 */
	flex-direction: column;         /* 横並びに配置する */
	justify-content: center;        /* 水平方向の指定 */
	@include mixin.breakpoint( breakpoint-medium ){
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	@include mixin.breakpoint( breakpoint-large ) {
		// height: 49vh;
		height: 30vh;
		// height: 239px;
		min-height: 117px;          // PC最大化（自分の）の239pxの49%
	}
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/archive/first-view--small.jpg);
	background-size: cover;	// 上記の下に持ってこないと効かない
	@include mixin.breakpoint( breakpoint-large ) {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/archive/first-view--large.jpg);
		background-size: cover;	// 上記とワンセットで設定しなければならないらしい
		background-position: center;
	}

	span{
		display: block;
		font-size: 1.6rem;
		padding-top: 7px;
		font-family: 'M PLUS 1p', sans-serif;
		font-weight: 700;       // bold
		@include mixin.breakpoint( breakpoint-medium ){
			display: inline-block;
			margin-left: 20px;
			vertical-align:middle;
		}
	}
}
