.p-access{
    position: relative; // 相対配置
    width: 100%;
    height: 690px;
    background-image: url(/img/front/map--small.jpg);
    // background-position: center;
    background-size: cover;         /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
    @include breakpoint( breakpoint-medium ) {
        background-image: url(/img/front/map--large.jpg);
    }

    // 地図全体にかかる薄いレイヤーの疑似要素
    &::before {
        content: "";
        // background-color: $color--background--mask-access;
        // opacity: 0.3;
        background: rgba($color--background--mask-access, 0.4);
        position: absolute; // 絶対配置
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    // 主に文字の部分にかかる濃いレイヤー
    &::after {
        content: "";
        background: rgba($color--background--mask-access, 0.4);
        position: absolute; // 絶対配置
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 60%;
        @include breakpoint( breakpoint-medium ) {
            width: 100%;
            height: 100%;
            // top: 0;
            // left: 0;
        }
        @include breakpoint( breakpoint-large ) {
            width: 61%;
            height: 100%;
            // top: 0;
            // left: 0;
        }
    }

    /* マスクだけのクラスを入れなくても、疑似要素で可能だったので削除 */
    // .l-mask{
        // background: rgba($color--background--mask-access, 0.4);
        // height: 100%;

        // &::before {
        //     content: "";
        //     // background-color: $color--background--mask-access;
        //     // opacity: 0.3;
        //     background: rgba($color--background--mask-access, 0.4);
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        //     // display:inline-block;
        //     // z-index: 1;
        //     // width: 60%;
        //     height: 60%;
        //     @include breakpoint( breakpoint-medium ) {
        //         // position: absolute;
        //         width: 100%;
        //         // top: 0;
        //         // left: 0;
        //     }
        //     @include breakpoint( breakpoint-large ) {
        //         // position: absolute;
        //         height: 100%;
        //         width: 61%;
        //         // top: 0;
        //         // left: 0;
        //     }
        // }
    // }
    /* _definition-list.scssに加えての設定 */
    .c-dl--level2{
        // padding: 40px;
        position: absolute;
        z-index: 1;
        // background: rgba($color--background--mask-access, 0.4);
        // dt{
        //     .c-border{
        //         width: 15%;
        //         margin-top: 20px;
        //     }            
        // }
        dd{
            margin-top: 15px;
        }
        @include breakpoint( breakpoint-medium ) {
            height: 100%;
        }
        @include breakpoint( breakpoint-large ) {
            height: 100%;
            width: 61%;
        }
    }
    // タイトル（見出しが入ります）
    h2{
        color: $color--text-sub;
        font-size: 3.0rem;
        // position: relative;
        // z-index: 1;
        // padding: 40px;
        /* 罫線を疑似要素で */
        &::after{
            content: "";
            display: block;                             // ブロックが積みあがる
            border-bottom: solid $color--text-sub 2px;  // 線種、色、太さ
            width: 75px;                                // 線の長さ
            margin-top: 20px;                           // タイトルとの余白
        }
    }
}