@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

/* 画像のレイヤーの修正 */
.p-access{
	position: relative; // 相対配置
	width: 100%;
	height: 690px;
	// Googleマップ
	.c-iframe-wrapper{
		width: 100%;
		position: relative;
		height: calc( 100% + 150px );	// -150pxした分、ここで足す
		overflow: hidden;	// 枠からはみ出た要素を非表示
		// opacity: 0.6;       // 透過の設定
		&::after {
			content: "";
			background: rgba(variable.$color--background--mask-access, 0.4);
			position: absolute; // 絶対配置
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-height: 690px;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin-top: -150px;	// 左上のポップを非表示に
		}
	}
	// 主に文字の部分にかかる濃い最前のレイヤーの疑似要素
	&::after {
		content: "";
		background: rgba(variable.$color--background--mask-access, 0.4);
		position: absolute; // 絶対配置
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 60%;
		@include mixin.breakpoint( breakpoint-medium ) {
			width: 100%;
			height: 100%;
		}
		@include mixin.breakpoint( breakpoint-large ) {
			width: 61%;
			height: 100%;
		}
	}
	/* _definition-list.scssに加えての設定 */
	.c-dl--level2{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		@include mixin.breakpoint( breakpoint-medium ) {
			height: 100%;
		}
		@include mixin.breakpoint( breakpoint-large ) {
			height: 100%;
			width: 61%;
		}
		// タイトル（見出しが入ります）
		h2{
			color: variable.$color--text-sub;
			font-size: 3.0rem;
			/* 罫線を疑似要素で */
			&::after{
				content: "";
				display: block;								// ブロックが積みあがる
				border-bottom: solid variable.$color--text-sub 2px;	// 線種、色、太さ
				width: 75px;								// 線の長さ
				margin-top: 20px;							// タイトルとの余白
			}
		}
		dd{
			margin-top: 15px;
		}
	}
}
