@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

/* archive, search内で使用 */
.p-card{
	width: 336.11px;
	color: variable.$color--text-sub;
	background-color: variable.$color--card-background--menu;
	font-family: "M+ 1m";   // p-card内はM+ 1m

	display: flex;              /* 親要素に指定 */
	flex-direction: column;     /* 積み重なるように配置する */

	/* レスポンシブ対応 */
	@include mixin.breakpoint( breakpoint-medium ){
		flex-direction: row;     /* 積み重なるように配置する */
		width: 100%;    // 親に対して90%だけど、paddingは大枠で設定してるから…
		height: 357px;
	}
	@include mixin.breakpoint( breakpoint-large ){
		height: 471px;
	}

	img{
		vertical-align: bottom; // 画像下の微妙な余白を消すため
		height: 230.725px;
		object-fit: cover;	// // どのように埋め込むか。要素のコンテンツボックス全体を埋めるように拡大縮小
		/* レスポンシブ対応 */
		@include mixin.breakpoint( breakpoint-medium ){
			width: 50%;
			height: 357px;
		}
		@include mixin.breakpoint( breakpoint-large ){
			height: 471px;
		}
	}

	&__caption{
		padding: 30.5px 17px 43.7px 17px;
		/* レスポンシブ対応 */
		@include mixin.breakpoint( breakpoint-medium ){
			width: 50%;
			padding: 29px 59px 40px 34.7px;
		}
		@include mixin.breakpoint( breakpoint-large ){
			padding: 53px 63px;
		}
		h1{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1; /* 制限したい行数が1 */
			overflow: hidden;
			font-size: 2.0rem;
			font-weight: 700;
			@include mixin.breakpoint( breakpoint-large ){
				font-size: 3.6rem;
			}
		}
		h2{
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1; /* 制限したい行数が1 */
			overflow: hidden;
			margin-top: 24px;
			font-size: 1.6rem;
			font-weight: 700;
			@include mixin.breakpoint( breakpoint-large ){
				font-size: 2.4rem;
			}
		}
		p{
			margin-top: 10px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 5; /* 制限したい行数が5 */
			overflow: hidden;
			@include mixin.breakpoint( breakpoint-large ){
				margin-top: 17px;
				-webkit-line-clamp: 3; /* 制限したい行数が3 */
			}
		}

		// .c-dl--level4{
		// 	margin-top: 24px;
		// }

		.c-button__more{
		// .more-link{
			// position: relative;
			margin: auto;       // 中央寄せ
			margin-top: 41px;
			@include mixin.breakpoint( breakpoint-large ){
				margin-top: 60px;
			}
		}
		.more-link{
			// position: relative;
			margin: auto;       // 中央寄せ
			margin-top: 41px;
			@include mixin.breakpoint( breakpoint-large ){
				margin-top: 60px;
			}
		}
	}
}

/* singleページ内で使用 */
.p-card--single{
	font-family: "M+ 1m";
	width: 100%;

	display: flex;              /* 親要素に指定 */
	flex-direction: row;        /* 横並びに配置する */
	justify-content: center;    /* 水平方向の指定 */
	align-items: flex-start;    /* 垂直方向の指定 */

	max-height: 176px;
	/* レスポンシブ対応 */
	@include mixin.breakpoint( breakpoint-medium ){
		max-height: 373px;
	}
	@include mixin.breakpoint( breakpoint-large ){
		max-height: 358px;
	}
	.wp-block-media-text__media{
		width: 43%;	// 43% 144/335px, 43% 21/714px, 43% 581/1353px（固定領域の子要素）
		align-self: flex-start;    /* 垂直方向の指定 */
	}
	.wp-block-media-text__content{
		padding: 0 3%;
		align-self:flex-start;
		flex: 1;	// 可変領域の子要素に指定する
		.p-card--single__caption{
			text-indent: 0.5em; // 半角スペース分インテンド
		}
	}
}
