// .p-card{
//     &--shadow{
//         @extend .p-card;
//     }
// }

// .p-card{
//     // display: block;
//     // position: relative;
// }

// .p-card__caption{

// }
.p-card{
    width: 336.11px;
    color: $color--text-sub;
    background-color: $color--card-background--menu;
    font-family: "M+ 1m";   // p-card内はM+ 1m

    // display: flex;              /* 親要素に指定 */
    // flex-direction: column;     /* 積み重なるように配置する */
    // justify-content: center;    /* 水平方向の指定 */
    // // justify-content: space-around;    /* 水平方向の指定 */
    // align-items: center;        /* 垂直方向の指定 */

    img{
        // outline: 2px solid blue;
        vertical-align: bottom; // 画像下の微妙な余白を消すため
    }

    &__caption{
        outline: 2px solid blue;
        // margin: 30.5px auto 43.7px 17px;
        padding: 30.5px 17px 43.7px 17px;
        // padding-bottom: 43.7px;
        h3{
            font-size: 2.0rem;
            font-weight: 700;
        }
        h4{
            // font-size: 1.6rem;
            font-weight: 700;
        }
        // background-color: $color--card-background--menu;

        .c-dl--level3{
            margin-top: 24px;
        }

        .c-button__more{
            margin: auto;       // 中央寄せ
            margin-top: 41px;
        }
    }
    /* レスポンシブ対応 */
    @include breakpoint( breakpoint-large ){


        // ul li:nth-child(odd){
        //     flex-direction: row-reverse;
        // }
        // flex-direction: row;
        // justify-content: space-between;
        // .p-card:nth-child(even){
        //     flex-direction: row-reverse;
        //     .c-dl--level{
        //         text-align: left;
        //     }
        //     .p-card__caption:nth-child(even){
        //         text-align: right;
        //     }
        // }
    }


}






        




// .box:nth-child(even) {
//     flex-direction: row-reverse;
//   }
  
//   .text {
//     text-align: left;
//   }
//   .box:nth-child(even) .text {
//     text-align: right;
//   }




// .p-card--shadow{
//     width: 320px;
//     // position:relative;
//     // box-shadow: 12 12 5px 0 rgba(#1B1310, 0.16);
//     /* offset-x | offset-y | blur-radius | spread-radius | color */
//     /* 横方向 縦方向 (ぼかし) (広がり) (影の色) (影の向き) */
//     box-shadow: 0 0 10px #1B1310; //0 rgba(#1B1310, 0.16);    
// }