// .p-card{
//     &--shadow{
//         @extend .p-card;
//     }
// }

// .p-card{
//     // display: block;
//     // position: relative;
// }

// .p-card__caption{

// }
.p-card{
    width: 336.11px;
    color: $color--text-sub;
    background-color: $color--card-background--menu;
    font-family: "M+ 1m";   // p-card内はM+ 1m

    display: flex;              /* 親要素に指定 */
    flex-direction: column;     /* 積み重なるように配置する */
    // justify-content: center;    /* 水平方向の指定 */
    // // justify-content: space-around;    /* 水平方向の指定 */
    // align-items: center;        /* 垂直方向の指定 */

    /* レスポンシブ対応 */
    @include breakpoint( breakpoint-medium ){
        flex-direction: row;     /* 積み重なるように配置する */
        width: 100%;    // 親に対して90%だけど、paddingは大枠で設定してるから…
        height: 357px;
    }
    @include breakpoint( breakpoint-medium ){
        height: 471px;
    }

    img{
        // outline: 2px solid blue;
        vertical-align: bottom; // 画像下の微妙な余白を消すため
        /* レスポンシブ対応 */
        @include breakpoint( breakpoint-medium ){
            width: 50%;
            object-fit: cover;  // どのように埋め込むか。要素のコンテンツボックス全体を埋めるように拡大縮小
        }
    }

    &__caption{
        // outline: 2px solid blue;
        // margin: 30.5px auto 43.7px 17px;
        padding: 30.5px 17px 43.7px 17px;
        // padding-bottom: 43.7px;
        /* レスポンシブ対応 */
        @include breakpoint( breakpoint-medium ){
            width: 50%;
            padding: 29px 59px 40px 34.7px;
        }
        @include breakpoint( breakpoint-large ){
            // padding-top: 53px;
            // padding-left: 63px;
            //  59px 40px 34.7px;
            padding: 53px 63px;
        }
        h3{
            font-size: 2.0rem;
            font-weight: 700;
            @include breakpoint( breakpoint-large ){
                font-size: 3.6rem;
            }
            
        }
        h4{
            // font-size: 1.6rem;
            font-weight: 700;
            @include breakpoint( breakpoint-large ){
                font-size: 2.4rem;
            }
        }
        // background-color: $color--card-background--menu;

        .c-dl--level3{
            margin-top: 24px;
        }

        .c-button__more{
            // position: relative;
            margin: auto;       // 中央寄せ
            margin-top: 41px;
            @include breakpoint( breakpoint-large ){
                margin-top: 60px;
            }
            // margin-left: 0;
            // bottom: 0;
        }
    }
    /* レスポンシブ対応 */
    @include breakpoint( breakpoint-large ){


        // ul li:nth-child(odd){
        //     flex-direction: row-reverse;
        // }
        // flex-direction: row;
        // justify-content: space-between;
        // .p-card:nth-child(even){
        //     flex-direction: row-reverse;
        //     .c-dl--level{
        //         text-align: left;
        //     }
        //     .p-card__caption:nth-child(even){
        //         text-align: right;
        //     }
        // }
    }


}

.p-card--single{
    font-family: "M+ 1m";

    display: flex;              /* 親要素に指定 */
    flex-direction: row;        /* 横並びに配置する */
    justify-content: center;    /* 水平方向の指定 */
    align-items: flex-start;        /* 垂直方向の指定 */
    height: 176px;
    // flex-direction: row-reverse;
    img{
        width: 42.7%;
    }
    p{
        text-indent: 0.5em; // 半角スペース分インテンド
    }
    &__caption{
        &--left{
            padding-left: 10px;     // 文章左に余白指定
        }
        &--right{
            padding-right: 10px;    // 文章右に余白指定
        }
    }
}




        




// .box:nth-child(even) {
//     flex-direction: row-reverse;
//   }
  
//   .text {
//     text-align: left;
//   }
//   .box:nth-child(even) .text {
//     text-align: right;
//   }




// .p-card--shadow{
//     width: 320px;
//     // position:relative;
//     // box-shadow: 12 12 5px 0 rgba(#1B1310, 0.16);
//     /* offset-x | offset-y | blur-radius | spread-radius | color */
//     /* 横方向 縦方向 (ぼかし) (広がり) (影の色) (影の向き) */
//     box-shadow: 0 0 10px #1B1310; //0 rgba(#1B1310, 0.16);    
// }