@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

.p-first-view{
	width: 100%;
	height:285px;
	/* 背景の設定 */
	background-image: url(../img/front/first-view--small.jpg);
	background-position: center;
	background-size: cover;         /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
	display: flex;                  /* 親要素に指定 */
	align-items: center;            /* 垂直方向の指定 */
	@include mixin.breakpoint( breakpoint-medium ) {
		background-image: url(../img/front/first-view--large.jpg);
	}
	@include mixin.breakpoint( breakpoint-large ) {
		height: 49vh;
		min-height: 369px;          // PC最大化（自分の）の753pxの49%
	}
	/* タイトル */
	h2{
		color: variable.$color--text-sub;
		font-size: 3.6rem;// フォントサイズの指定もしなくちゃいけないけど、cでタイトルをまとめたほうがいいかも？
		// padding-left: 25px;
		margin-left: 25px;
		@include mixin.breakpoint( breakpoint-medium ){
			margin-left: 86px;
		}
		@include mixin.breakpoint( breakpoint-large ) {
			font-size: 4.0rem;
			margin-left: 5.5%;
		}
	}
}

.p-first-view--archive{
	position: relative; // 相対配置
	width: 100%;
	height:285px;
	color: variable.$color--text-sub;

	/* 背景の設定 */
	// 一番奥の黒い背景
	background-color: variable.$color--background--mask-access; // 変数名の変更

	// 画像の透過レイヤーの疑似要素
	&::before {
		content: "";
		// バーガーの画像
		background-image: url(../img/archive/first-view--small.jpg);
		background-size: cover;
		opacity: 0.5;       // 透過の設定
		@include mixin.breakpoint( breakpoint-large ) {
			background-image: url(../img/archive/first-view--large.jpg);
			background-position: center;
		}
		position: absolute; // 絶対配置
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	display: flex;                  /* 親要素に指定 */
	flex-direction: column;         /* 横並びに配置する */
	justify-content: center;        /* 水平方向の指定 */
	@include mixin.breakpoint( breakpoint-medium ){
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	@include mixin.breakpoint( breakpoint-large ) {
		// height: 49vh;
		height: 30vh;
		// height: 239px;
		min-height: 117px;          // PC最大化（自分の）の239pxの49%
	}

	/* タイトル */
	h1{
		font-size: 3.6rem;// フォントサイズの指定もしなくちゃいけないけど、cでタイトルをまとめたほうがいいかも？
		margin-left: 37px;
		z-index: 1;
		@include mixin.breakpoint( breakpoint-medium ){
			font-size: 6.0rem;
			margin-left: 86px;
		}
		span{
			display: block;
			font-size: 1.6rem;
			padding-top: 7px;
			font-family: "M+ 1m";
			font-weight: 700;       // bold
			// z-index: 1;
			@include mixin.breakpoint( breakpoint-medium ){
				display: inline-block;
				margin-left: 20px;
				vertical-align:middle;
			}
		}
	}
}

.p-first-view--single{
	width: 100%;
	height:225px;
	color: variable.$color--text-sub;

	/* 背景の設定 */
	background-image: url(../img/single/first-view.jpg);
	background-position: center;
	background-size: cover;         /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
	@include mixin.breakpoint( breakpoint-medium ) {
		height: 500px;
	}

	display: flex;                  /* 親要素に指定 */
	align-items: center;            /* 垂直方向の指定 */
	/* タイトル */
	h1{
		font-size: 3.6rem;// フォントサイズの指定もしなくちゃいけないけど、cでタイトルをまとめたほうがいいかも？
		margin-left: 26px;
		font-family: "M+ 1m";
		font-weight: 700;       // bold
		@include mixin.breakpoint( breakpoint-medium ){
			font-size: 6.0rem;
			margin-left: 86px;
		}
	}
}

.p-first-view--page{
	width: 100%;
	height:225px;
	color: variable.$color--text-sub;

	/* 背景の設定 */
	background-image: url(../img/page/first-view.jpg);
	background-position: center;
	background-size: cover;         /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
	@include mixin.breakpoint( breakpoint-medium ) {
		height: 500px;
	}

	display: flex;                  /* 親要素に指定 */
	align-items: center;            /* 垂直方向の指定 */
	/* タイトル */
	h1{
		font-size: 3.6rem;// フォントサイズの指定もしなくちゃいけないけど、cでタイトルをまとめたほうがいいかも？
		margin-left: 26px;
		font-family: "M+ 1m";
		font-weight: 700;       // bold
		@include mixin.breakpoint( breakpoint-medium ){
			font-size: 6.0rem;
			margin-left: 86px;
		}
	}
}
