.p-gnavi{
    // width: 87%;
    // height: 100%;
    // height: 1826px;
    // padding-top: 12.5%;
    // padding-left: 12.5%;
    // padding-left: 12.5%;
    background-color: $color--background--menu-pc;
    color: $color--text-main;
    
    font-family: "M+ 1m";
    h2{
        display: none;  // SP版、tablet版は非表示
        font-family: 'Roboto';
        font-size: 3.4rem;
        @include breakpoint ( breakpoint_large ){
            display: block;
        }
    }
    h3{
        font-size: 2.4rem;
        font-weight: 700;
    }
    // display: none;
    @include breakpoint ( breakpoint_large ){
        display: block;
    }
    // &__main-menu{
    .p-gnavi__main-menu{
        // position: absolute;   /* 絶対位置 */
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        // text-align: left;
        // margin-bottom: 40px;
        @include breakpoint ( breakpoint_middle ){
            margin-top: 40px;   // h2との余白
            display: block;
            text-align: left;
            margin-bottom: 40px;

            // // メニューの横並び
            // display: flex;
            // // 以下、リセット
            // position: relative;
            // top: auto;
            // left: auto;
            // transform: none;
        }
        // li{
        &__list{
            margin-top: 38px;
            &:first-of-type{
                // margin-top: 212px;
                margin-top: 138px;
            }
            // margin-right: 0;
            // margin-bottom: 40px;
            @include breakpoint ( breakpoint_large ){
                // メニューの左側に余白
                // margin-left: 18%;
                margin-bottom: 0;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
    }
    .p-gnavi__sub-menu{
        margin-top: 40px;   // main-menuとの余白設定
        &__list{
            margin-top: 22px;
            // margin-left: 17.7%;
            margin-left: 20px;
            // margin-bottom: 40px;
            font-size: 2rem;
        }
    }

}
    // /* メニュー */
    //  &__menu{
    //     display: none;      /* 領域そのものを生成しない */
    //     width: 100vw;       /* ビューポートが 600px だとしたら、画像の幅は 60px になる */
    //     height: 100vh;      /* ビューポート　高さ */
    //     position: fixed;    /* 絶対位置、スクロールしても位置は固定されたまま */
    //     top: 0;             /* 上0 */
    //     left: 0;            /* 左0 */

    //     @include breakpoint ( breakpoint_large ){
    //         // 全部リセット
    //         display: block; // divだから初期値はblock？横並びの指定はp-naviで。
    //         width: auto;
    //         height: auto;
    //         position: relative;
    //         top: auto;
    //         left: auto;
    //     }
    // }
    // /* メニューボタン */
    // .p-menu{
    //     @include breakpoint ( breakpoint_middle ){
    //         // display: block;
    //         display: none;
    //     }
    // }