.p-gnavi{
    width: 100%;
    height: 100%;
    padding-top: 12.5%;
    padding-left: 12.5%;
    background-color: $color--background--menu-pc;
    color: $color--text-main;
    > h2{
        font-size: 3.4rem;
        margin-bottom: 40px;
    }
    // &__main-menu{
    .p-gnavi__main-menu{
        // display: block;
        // position: absolute;   /* 絶対位置 */
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        text-align: left;
        margin-bottom: 40px;
        @include breakpoint ( breakpoint_large ){
            // メニューの横並び
            display: flex;
            // 以下、リセット
            position: relative;
            top: auto;
            left: auto;
            transform: none;
        }
        li{
            // margin-right: 0;
            // margin-bottom: 40px;
            @include breakpoint ( breakpoint_large ){
                // メニューの右側に余白
                margin-left: 65px;
                margin-bottom: 0;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
    }
    .p-gnavi__sub-menu{

        &__list{
            margin-left: 17.7%;
            margin-bottom: 40px;
            font-size: 2rem;
        }
    }

}
