@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

.p-pagination{
	margin-top: 57.4px ;
	margin-bottom: 30px;
	@include mixin.breakpoint( breakpoint-medium ){
		margin-top: 105.5px;
	}
	@include mixin.breakpoint( breakpoint-large ){
		margin-top: 150px;
		margin-bottom: 64px;
	}

	color: variable.$color--text-main;
	display: flex;				/* 親要素に指定 */
	flex-direction: row;		/* 並ぶように配置 */
	justify-content: center;	/* 水平方向の指定 */
	align-items: center;		/* 垂直方向の指定 */
	padding: 6%;

	/*  */
	&__list{
		/* li・p-pagination__list__itemの配置の設定 */
		width: 100%;
		display: flex;					/* 親要素に指定 */
		flex-direction: row;			/* 並ぶように配置する */
		justify-content: right;			/* 水平方向の指定（右端配置） */
		align-items: center;			/* 垂直方向の指定 */

		// 「前へ」がある（2ページ目以降）場合
		&:has(.previouspostslink ){
			justify-content: space-between;	/* 水平方向の指定（左右に配置） */
		}

		@include mixin.breakpoint( breakpoint-medium ){
			width: auto;
			justify-content: center;    /* 水平方向の指定（中央配置） */
		}

		&__item{
			/* 「次へ」「前へ」以外は非表示 */
			&:not(:has(.nextpostslink, .previouspostslink)){
				display: none;
				@include mixin.breakpoint( breakpoint-medium ){
					display: flex;
				}
			}
			width: auto;
			height: auto;
			margin-left: 15px;
			@include mixin.breakpoint( breakpoint-medium ){
				width: 35px;
				height: 35px;
				a{
					display: flex;					/* 親要素に指定 */
					// flex-direction: row;			/* 並ぶように配置する */
					justify-content: center;		/* 水平方向の指定 */
					align-items: center;			/* 垂直方向の指定 */
					width: 35px;
					height: 35px;
				}
				// マウスオーバー
				&:not(:has(.pages, .nextpostslink, .previouspostslink, .extend)){
					:hover{
						background-color: variable.$color--card-background--menu;
						color: variable.$color--text-sub;
					}
				}
				// カーソルを初期値に
				.extend{
					cursor: auto;	// カーソルを初期値に
				}
			}
			&:first-of-type{
				margin-left: 0;
				width: auto;
				height: auto;
			}
			cursor: pointer;	// カーソルをポインターに
			border: solid 1.5px variable.$color--text-main;
			display: flex;					/* 親要素に指定 */
			// flex-direction: row;			/* 並ぶように配置する */
			justify-content: center;		/* 水平方向の指定 */
			align-items: center;			/* 垂直方向の指定 */

			// 線で囲むかの判断
			&:has(.pages, .nextpostslink, .previouspostslink){	// 子要素にcurrentがいたら
				border: none;	// 線なし
			}

			&:has(.current){	// 子要素にcurrentがいたら
				background-color: variable.$color--card-background--menu;
				color: variable.$color--text-sub;
				cursor: auto;	// カーソルを初期値に
			}

			// 「page 1/10」の設定
			> .pages{
				display: none;		// 非表示
				// border: none;
				@include mixin.breakpoint( breakpoint-medium ){
					display: block;	// 表示させる
					cursor: auto;	// カーソルを初期値に
				}
			}
			// 「次へ」
			.nextpostslink{
				&::before{
					content: "次へ";
					margin-right: 8.2px;	// 「次へ」と「»」の余白指定
					@include mixin.breakpoint( breakpoint-medium ){
						// border: none;
						display: none;	// 非表示
					}
				}
			}
			// 「前へ」
			.previouspostslink{
				&::after{
					content: "前へ";
					margin-left: 8.2px;	// 「前へ」と「»」の余白指定
					@include mixin.breakpoint( breakpoint-medium ){
						display: none;	// 非表示
					}
				}
			}
		}
	}
}
