.p-place{
    ul{
        padding: 20px;
        @include breakpoint( breakpoint_middle ){
            padding: 40px;
        }
    }
    h2{
        color: $color--text-sub;
        padding-top: 25px;
        padding-left: 10px;
    }
    /* Take Out */
    &__take-out{
        background-image: url(/img/front/take-out.jpg);
        // background-position: center;
        background-size: cover;         /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
        height: 642px;
    }


    /* Eat In */
    &__eat-in{
        margin-top: 20px;   // Take Outとの余白指定
        background-image: url(/img/front/eat-in.jpg);
        // background-position: center;
        background-size: cover;         /* 画像の縦横比を崩すことなく、画像ができるだけ大きくなるよう拡大縮小 */
        height: 642px;
    }




}