@use "../../foundation/base";
@use "../../foundation/variable";
@use "../../foundation/mixin";

/* 検索バー */
.p-search{
	width: 85%;
	margin: auto;       // 中央寄せ
	@include mixin.breakpoint ( breakpoint-medium ){
		width: 65%;
	}
	@include mixin.breakpoint ( breakpoint-large ){
		width: 35%;
		margin-right: 2%;   // margin設定
	}
	/* 検索--入力エリア-- */
	input[type="search"]{
		-webkit-appearance: none;	// iOSデバイス環境時、検索ボックスが角丸にならないように制御
		width: 72%;
		max-width: 546px;
		height: 46px;
		padding: 11px 16px;
		background: variable.$color--background--search;
		border: 1px solid variable.$color--text-main;    // 枠線指定（太さ・スタイル・色）
		border-radius: 0.5em;                   /* 角丸 */
		vertical-align: top;        // 入力フォームとボタンのズレ解消
	}

	/* 検索ボタン */
	input[type="submit"]{
		width: 25%;
		max-width: 136px;
		height: 46px;
		margin-left: 3%;
		padding: 0.3em;
		background: linear-gradient( variable.$color--background--menu-pc , #DED8D3 );
		color: variable.$color--text-main;
		border: 1px solid variable.$color--text-main;    // 枠線指定（太さ・スタイル・色）
		border-radius: 0.5em;                   /* 角丸 */
		cursor: pointer;
		font-family: 'M PLUS 1p', sans-serif;
		font-weight: 700;
		vertical-align: top;        // 入力フォームとボタンのズレ解消（念のためこちらでも設定）
	}
}
