.p-single{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 70px;
    @include breakpoint( breakpoint-medium ){
        padding-left: 7%;
        padding-right: 7%;
    }
    @include breakpoint( breakpoint-large ){
        padding-left: 6%;
        padding-right: 6%;
    }

    font-family: "M+ 1m";
    h3{
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 34px;
        @include breakpoint( breakpoint-medium ){
            margin-top: 60px;
        }
    }
    h4, h5, h6{
        font-size: 2.0rem;
        font-weight: 700;
        margin-top: 29px;
        @include breakpoint( breakpoint-medium ){
            margin-top: 59px;
        }
    }
    .c-blockquote{
        // 上のブロックとの余白
        margin-top: 30px;
    }





    ol{
        list-style-type: decimal;
    }
    pre{
        margin-top: 30px;
        background-color: $color--background--block;
        padding: 50px 14.8%;   // 上下 左右
        code{
            line-height: 2.3rem;
        }
    }

    table{
        margin-top: 30px;
    }
    button{
        margin-top: 30px;
    }
    p{
        margin-top: 30px;
    }

}