/* gridでheader、main（first-view、place、access）、sidebarのレイアウト指定 */
.l-container{
    @include breakpoint( breakpoint--large ){
        display: grid;
        grid-template-columns: 1fr 19%; // メニューバーは親要素の19%
        .l-header{
            grid-row: 1;
            grid-column: 1;
        }
        .p-main{
            grid-row: 2;
            grid-column: 1;
        }
        // .p-first-view{
        //     grid-row: 2;
        //     grid-column: 1;
        // }
        // .p-place{
        //     grid-row: 3;
        //     grid-column: 1;
        // }
        // .p-access{
        //     grid-row: 4;
        //     grid-column: 1;
        // }
        .l-sidebar{
            // grid-row: 1 / 2;
            grid-row: 1 / 3;   // 1行目～エンドまで
            grid-column: 2;
        }
    }
}