@use "../foundation/base";
@use "../foundation/variable";

/* display: flexを使った方法 */
.l-footer{
	width: 100%;
	// フッターの高さ
	height: 150px;

	background-image: url(../img/front/footer.png);
	background-repeat: repeat;    // 背景画像リピート
	color: variable.$color--text-sub;
	font-family: 'M PLUS 1p', sans-serif;

	display: flex;              /* 親要素に指定 */
	flex-direction: column;     /* 行の配置 */
	align-items: center;        /* 垂直方向の指定 */

	ul{
		display: flex;              /* 親要素に指定 */
		flex-direction: row;     /*  */
		margin-top: 39px;
		font-size: 2.0rem;
		li{
			margin-right: 10px;
		}
		li+ li {
			border-left: 2px solid variable.$color--text-sub;
			padding-left: 10px;
		}
		a{
			color: variable.$color--text-sub;
		}
	}
	p{
		font-size: 1.4rem;
		margin-top: 29px;  // <p>-<small>=39-2/10=29
	}
}
