/* display: flexを使った方法 */
.l-footer{
    width: 100%;
    // フッターの高さ
    height: 150px;

    background-image: url(/img/front/footer.png);
    background-repeat: repeat;    // 背景画像リピート
    color: $color--text-sub;
    font-family: "M+ 1m";

    display: flex;              /* 親要素に指定 */
    flex-direction: column;     /* 積み重なるように配置する */
    // justify-content: center;    /* 水平方向の指定 */
    align-items: center;        /* 垂直方向の指定 */

    // padding-top: 30px;
    // padding-bottom: 10px;
    p{
        padding-top: 39px;
        font-size: 2.0rem;
        &:last-of-type{
            padding-top: 29px;  // <p>-<small>=39-2/10=29
        }
        small{
            font-size: 1.4rem;
        }
    }
}
/* text-align: centerを使った方法 */
// .l-footer{
//     width: 100%;
//     // フッターの高さ
//     height: 150px;

//     background-color: $color--background--footer;
//     color: $color--text-sub;
//     font-family: "M+ 1m";
//     text-align: center;     // 中央寄せ
//     // padding-top: 40px;

//     // display: flex;              /* 親要素に指定 */
//     // flex-direction: column;     /* 積み重なるように配置する */
//     // justify-content: center;    /* 水平方向の指定 */
//     // align-items: center;        /* 垂直方向の指定 */

//     p{
//         line-height: 100%;  // 上下の余白をフォントサイズに合わせてなくす
//         padding-top: 40px;
//         &:last-of-type{
//             padding-top: 35px;  // コピーライト部分の設定
//         }
//         small{
//             font-size: 1.4rem;
//         }
//     }
//  }