/* ヘッダー全般 */
.l-header{
    width: 100%;
    height: 217px;      // %のほうがいいのかな？
    background-color: $color--background--header;
    color: $color--text-main;
    @include breakpoint( breakpoint_large ){
        width: 80%;
        max-width: 1280px;      // ←ここはラッパーとか作ってコンテンツまるっとのほうがいいかもしれん
        //padding: 0 120px;
    }
    display: flex;              /* 親要素に指定 */
    flex-direction: column;     /* 積み重なるように配置する */
    // justify-content: center;    /* 水平方向の指定 */
    // align-items: center;        /* 垂直方向の指定 */

    .c-button--menu{
        padding: 14px 16px;     // 上下、左右
        // margin-right: 0;
        text-align: right;      // 右寄せ
        @include breakpoint( breakpoint_middle ){
            padding: 18px　26px;    // 上下、左右
        }
    }


    // justify-content: space-between;  // 各アイテムを均等に配置し、最初のアイテムは先頭に寄せ、最後のアイテムは末尾に寄せる
    // align-items: center;

    // border-bottom: 1px solid $color--title-color;   /* 境界線に白いのボーダー */
    // position: fixed;    // ヘッダーの固定
    
    > h1{
        margin: auto;
        margin-top: 54px;
        // font-size: 2.6rem;
        @include breakpoint( breakpoint_large ){
            margin-left: 65px;
        }
    }

    // /* メニュー */
    //  &__menu{
    //     display: none;      /* 領域そのものを生成しない */
    //     width: 100vw;       /* ビューポートが 600px だとしたら、画像の幅は 60px になる */
    //     height: 100vh;      /* ビューポート　高さ */
    //     position: fixed;    /* 絶対位置、スクロールしても位置は固定されたまま */
    //     top: 0;             /* 上0 */
    //     left: 0;            /* 左0 */

    //     @include breakpoint ( breakpoint_large ){
    //         // 全部リセット
    //         display: block; // divだから初期値はblock？横並びの指定はp-naviで。
    //         width: auto;
    //         height: auto;
    //         position: relative;
    //         top: auto;
    //         left: auto;
    //     }
    // }
    /* ハンバーガーメニューボタン */
    .p-menu{
        @include breakpoint ( breakpoint_middle ){
            // display: block;
            display: none;
        }
    }
}