/* ヘッダー全般 */
.l-header{
    width: 100%;
    height: 217px;      // %のほうがいいのかな？
    background-color: $color--background--header;
    color: $color--text-main;
    display: flex;              /* 親要素に指定 */
    flex-direction: column;     /* 積み重なるように配置する */
    @include breakpoint( breakpoint_large ){
        // max-width: 1280px;      // ←ここはラッパーとか作ってコンテンツまるっとのほうがいいかもしれん
        flex-direction: row;    // 横並び
        height: 20vh;           // 画面に対しての割合（217/1080=20%）
        min-height: 150px;      // PC最大化（自分の）の753pxの20%
    }
    /* メニューボタン */
    .c-button--menu{
        // width: 51px;
        font-size: 20px;
        font-weight: 700;           // bold
        padding: 14px 0px;          // 上下、左右
        margin: 0 16px 0 auto;      // 右寄せ、右の余白の指定
        @include breakpoint( breakpoint_middle ){
            // width: 86px;
            font-size: 3.4rem;
            padding-bottom: 0px;    // h1との余白を詰める
            margin-right: 26px;     // 右の余白指定
        }
        // メニューボタンは非常時
        @include breakpoint( breakpoint_large ){
            display: none;
        }
    }
    /* タイトル */
    h1{
        font-weight: 700;   // bold
        margin: 0 auto;     // 上下0, 左右中央寄せ
        font-size: 4.0rem;
        // margin-top: 54px;
        // font-size: 2.6rem;
        @include breakpoint( breakpoint_large ){
            margin: auto;           // リセット
            // margin-left: 65px;      // margin設定
            margin-left: 4%;
            font-size: 6.4rem;
        }
    }
    // /* 検索バー */
    // .p-search{
    //     width: 85%;
    //     @include breakpoint ( breakpoint_middle ){
    //         width: 65%;
    //     }
    //     @include breakpoint ( breakpoint_large ){
    //         width: 35%;
    //         margin: auto;       // リセット
    //         // margin-right: 30px;  // margin設定
    //         margin-right: 2%;   // margin設定
    //     }
    // }
}