/*----------------------------------------------------------
◆SmartPhone  : 320px〜540px
	iPhone 12mini   : 5.4インチ、375 × 667
	iPhone 12ProMax : 6.7インチ、428 × 926
	※最小幅は320px（iPadminiのsplit viewもこの値）
	※利用率が高いのは375pxだが320pxで表示崩れ（横スクロールなど）がないか確認することが確実。

	max-width : 599px
	min-width : 設定なし（実質599px以下）

	ここでの変数、breakpoint-small

◆Tablet      : 600px〜1024px
	iPadAir 4 : 10.9インチ、820 × 1180
	タブレットの最小サイズは  600px
	最もシェア率の高いサイズが  768 × 1024。つまり横にすると幅は1024px

	max-width : 1024px
	min-width : 600px

	ここでの変数、breakpoint-medium

◆PC          : 1280px〜
	PCのブレイクポイントはタブレット1024pxにプラス1px加えた1025px。
	PCのブレイクポイントは1280px以下で設定が無難。

	max-width : 設定なし（実質1025px以上）
	min-width : 1025px

	ここでの変数、breakpoint-large

	
モバイルファーストなら、min-width
PCファーストなら、max-width

参照URL
https://daib-log.com/responsive/
2021.05
----------------------------------------------------------*/
/* モバイルファースト */
@mixin breakpoint( $breakpoint ) {
	/* SP基準--tablet-- */ 
	@if $breakpoint == breakpoint-medium{
		@media ( min-width : 834px ){
			@content;
		}
	}
	/* SP基準--PC-- */ 
	@if $breakpoint == breakpoint-large{
		@media ( min-width : 1025px ){
			@content;
		}
	}
}