  /* variable */
  $color--background--header: #FFF7EF;
  $color--background--main: #FFFDFA;
  $color--background--footer: #9D8670;
  $color--background--menu:  #000;
  $color--background--menu-pc:  #F2EDE9;
  $color--background--search:  #fff;
  $color--background--block: #F5F5F5;

  $color--background--mask-box: #fff;
  $color--background--mask-access: #000;

  $color--background--button: #fff;

  $color--text-main:  #707070;
  $color--text-sub:  #fff;
  $color--text-single:  #3C2A10;

  $color--card-title:  #fff;
  $color--card-subheading:  #3C2A10;
  $color--card-text:  #3C2A10;
  $color--card-background:  #fff;
  $color--card-background--menu:  #3C2B1C;
  // #1B1310  